body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
  font-family: 'Helvetica', 'Arial', 'Sans';
	width: 800px;
	height: 600px;
}

#saveFile, canvas {
	display: none;
}

video {
	z-index: 1;
	position: absolute;
	width: 800px;
	height: 600px;
}

#takePhoto {
	z-index: 2;
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-align: center;
	border: solid 2px white;
	box-shadow: 0px 0px 7px rgba(255,255,255,0.5);
	margin: 5px;
	border-radius: 3em;
	padding: 1em;
  background-color: rgba(0,0,0,0.2);
}

#takePhoto:hover {
	background: #FF5C5C;
	cursor: pointer;
}