body {
	margin: 0;
	padding: 0;
}

#openFileView {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(150deg, #1188de, #45ccda);
	text-align: center;
}

#openFileView div {
  display: inline-block;
  position: relative;
  border-radius: 30em;
  border: solid 2px white;
  color: white;
  font-family: 'Helvetica';
  padding: 1em 1em 0.8em;
  top: 45%;
}

#openFileView div:hover {
	cursor: pointer;
	background-color: white;
	color: #1188de;
}


#toolbar {
	font-family: 'Helvetica';
	background: #1188de;
	width: 100%;
	text-align: center;
	padding-top: 0.5em;
}

.tab {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	padding: 0.5em 1em;
	display: inline-block;
	border: solid 1px rgba(255,255,255,0.1);
	background-color: rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.8);
}

.tab.active {
	background-color: rgba(255,255,255,0.2);
}

.tab:hover {
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}

.hidden {
	display:none;
}

#codeArea {
	padding: 2%;
	position: absolute;
	width: 96%;
	height: 87%;
	border: none;
	background: #333;
	color: white;
	font-family: 'Monaco', 'Menlo';
	outline: none;
}